.hero {
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1)),
    url('/public/img/hero-nsx.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.forum-title {
  color: var(--clr-primary);
  font-size: 2.7rem;
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px #1e1e1e;
}

.accent {
  color: var(--clr-accent);
}

.search-form {
  width: 50%;
  position: relative;
}

.search {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  padding-left: 20px;
  padding-right: 70px;
  margin-bottom: 3rem;
  color: var(--clr-accent);
  background-color: var(--clr-bg-dark);
  opacity: 80%;
  font-size: 20px;
  outline: none;
}

.search:focus {
  border: 2px solid var(--clr-accent);
}

.search-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 60px;
  border-radius: 20px;
  border: 2px solid var(--clr-accent);
  background-color: var(--clr-accent);
  color: var(--clr-bg-dark);
  cursor: pointer;
  transition: 0.2s linear;
}

.search-btn i {
  font-size: 1.2rem;
}

.search-btn:hover {
  color: var(--clr-primary);
}
