#comment {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 6px;
  background-color: #dde0e3;
  box-shadow: 5px 5px 5px 2px #c1c1c1;
}

.comment-form {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 2;
}

.arrow-left {
  position: absolute;
  top: 20px;
  left: -24px;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid var(--clr-primary);
}

.quote-text {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  font-style: italic;
  color: var(--clr-font-gray);
  background-color: var(--clr-primary);
  word-break: break-all;
  white-space: pre-wrap;
}

.comment-text {
  resize: none;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  min-height: 90px;
  height: 90px;
  word-break: break-all;
}

.expand-text {
  min-height: 200px;
  max-height: 600px;
  resize: vertical;
}

.merge {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

.comment-btn {
  margin-left: auto;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .arrow-left {
    top: 15px;
    left: -14px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--clr-primary);
  }

  .comment-text {
    font-size: 1rem;
    min-height: 60px;
    height: 60px;
  }

  .expand-text {
    min-height: 150px;
    max-height: 300px;
    resize: vertical;
  }
  
  .responsive-btn {
    font-size: 1rem;
    width: 9rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }
  
  .responsive-btn i {
    font-size: 1rem;
    padding-right: 0.5rem;
  }
}