.common-btn{
  display: block;
  width: 11.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: var(--clr-bg-dark);
  border: 2px solid var(--clr-bg-dark);
  border-radius: 6px;
  padding: 0.875rem 0;
  margin: auto;
  color: var(--clr-primary);
  cursor: pointer;
}

.disable-btn{
  opacity: 40%;
}

.common-btn:hover{
  color: var(--clr-accent);
  opacity: 90%;
}