.common-btn{
  display: block;
  width: 11.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: var(--clr-secondary);
  border: 2px solid var(--clr-secondary);
  border-radius: 6px;
  padding: 0.875rem 0;
  margin: 0 auto;
  color: var(--clr-primary);
  cursor: pointer;
}

.disable-btn{
  opacity: 0.4;
}

.common-btn:hover{
  opacity: 0.85;
}