.inline-notification{
  width: 70%;
  font-size: 24px;
  background-color: var(--clr-error);
  border-radius: 6px;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  color: var(--clr-primary);
  text-align: center;
}