.inline-notification{
  margin: 1.5rem auto;
  padding: 2rem 3rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--clr-font-gray);
}

.inline-notification i {
  font-size: 5rem;
  margin-bottom: 1.5rem;
}