.section-bg {
  min-height: 500px;
  background: url(/public/img/risingsun.png) no-repeat center center/cover ;
}

.catalog-cars{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}