.profile-header {
  width: 100%;
}

.profile-hero {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.user-info-bar {
  height: 6rem;
  background-color: var(--clr-bg-dark);
}

.inner-width-bar {
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.edit-profile-btn {
  margin-left: auto;
  background: transparent;
  color: var(--clr-accent);
  font-size: 1.1rem;
  font-weight: 500;
  width: 11.5rem;
  border: 2px solid var(--clr-accent);
  border-radius: 6px;
  padding: 0.875rem 0;
  transition: 0.2s linear;
  cursor: pointer;
}

.edit-profile-btn:hover {
  color: var(--clr-primary);
  background-color: var(--clr-accent);
}

.user-avatar__wrapper {
  position: relative;
}

.user-img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 5px solid var(--clr-bg-dark);
  object-fit: cover;
  background-color: var(--clr-bg);
}

.user-upload-img {
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 50%;
  background-color: #d0d0da;
  text-align: center;
  cursor: pointer;

  position: absolute;
  bottom: 2rem;
  right: 0;
  transition: 0.2s linear;
}

.user-upload-img:hover {
  transform: scale(1.2);
}

.user-username {
  color: var(--clr-primary);
}

@media screen and (max-width: 768px) {
  .user-img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
  }

  .edit-profile-btn {
    font-size: 1rem;
    width: 9rem;
    padding: 0.75rem 0;
  }
}

@media screen and (max-width: 600px) {
  .profile-hero {
    display: none;
  }

  .user-info-bar {
    height: 75vh;
    background: url(/public/img/engine.jpg) no-repeat center
      center/cover;
    padding-bottom: 2rem;
  }

  .user-img {
    border: none;
  }

  .inner-width-bar {
    flex-direction: column;
    justify-content: flex-end;
  }

  .edit-profile-btn {
    font-size: 1.3rem;
    width: 11.5rem;
    padding: 0.875rem 0;
    margin: 0 auto;
  }
}
