/* To be deleted when this code is made into one component */
.sub-model{
  display: block;
  width: 100%;
  color: #111;
  background-color: #fff7f0;
  font-size: 1.3rem;
  border: 3px solid #353b48;
  border-radius: 3px;  
  margin-bottom: 10px;
  padding: 10px;
}

.sub-model h4{
  padding-bottom: 15px;
}

.sub-model i{  
  color: #48dbfb;
}

.sub-model p{
  padding: 5px;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.sub-model p strong {
  margin-left: 5%;
  color: #48dbfb;
}

.sub-model:hover{
  cursor: pointer;
  background-color: #353b48;
  color: #fff;
}