#about {
  background: url(/public/img/risingsun.png) no-repeat center center/cover;
}

.about-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-pic {
  width: 300px;
  margin-right: 100px;
}

.about-text {
  flex: 1;
}

.about-text h3 {
  color: var(--clr-font-gray);
  font-size: 1.7rem;
}

.about-text h3 span:nth-child(1):after,
.about-text h3 span:nth-child(2):after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: var(--clr-font-gray);
  border-radius: 50%;
  margin: 0 14px;
}

.about-text p {
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  text-align: justify;
  text-indent: 1rem;
}

.cite {
  font-style: italic;
  color: var(--clr-font-gray);
}

.bold-text {
  font-weight: bold;
}

.brief-bio {
  margin: 1rem 0;
}

.full-bio {
  padding-right: 1rem;
  margin: 1rem 0;
  max-height: 576px;
  overflow: auto;
}

.bio-toggler {
  border: none;
  outline: none;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-decoration: underline;
  color: var(--clr-font-gray);
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}

@media screen and (max-width: 970px) {
  .about-pic {
    margin: 0 auto;
  }

  .about-text {
    flex: 100%;
    text-align: center;
  }
}
