#error-page {
  height: 100vh;
  min-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url(/public/img/engine.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

#error-page .inner-width {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#error-page .content {
  width: 100%;
  color: var(--clr-primary);
}

#error-page .content h1 {
  font-size: 3rem;
}

#error-page .buttons {
  margin-top: 60px;
}

#error-page .buttons a {
  display: inline-block;
  background: transparent;
  color: var(--clr-accent);
  margin: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  width: 11.5rem;
  border: 2px solid var(--clr-accent);
  border-radius: 6px;
  padding: 0.875rem 0;
  transition: 0.2s linear;
}

#error-page .buttons a:hover {
  color: var(--clr-primary);
  background-color: var(--clr-accent);
}
