#not-found{
  height: 100vh;
  min-height: 500px;
  background: url(/public/img/NSXv2.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

#not-found .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#not-found .content{
  width: 100%;
  color: var(--clr-primary);
}

#not-found .content h1{
  font-size: 6rem;
}
#not-found .content p{
  font-size: 1.5rem;
}

#not-found .buttons{
  margin-top: 3.75rem;
}

#not-found .buttons a{
  display: inline-block;
  color: var(--clr-accent);
  margin: 1rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  width: 11.5rem;
  border: 1px solid var(--clr-accent);
  border-radius: 6px;
  padding: 0.875rem 0;
  transition: .2s linear;
}

#not-found .buttons a:hover,
#not-found .buttons a:nth-child(2){
  background: var(--clr-accent);
  color: var(--clr-primary);
}