.post {
  position: relative;
  display: flex;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  padding-bottom: 2rem;
  border-radius: 6px;
  background-color: var(--clr-primary);
  box-shadow: 5px 5px 5px 2px #d1d1d1;
  margin-bottom: 1.5rem;
}

.post__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3rem;
  flex: 0 0 9rem;
  max-width: 9rem;
}

.user__username {
  color: var(--clr-secondary);
  font-weight: bold;
  transition: 0.2s linear;
}

.user__username:hover {
  color: var(--clr-accent);
}

.user__role {
  color: var(--clr-bg-dark);
}

.user__avatar-wrapper {
  background-color: var(--clr-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.user__avatar {
  object-fit: cover;
}

.user__level {
  color: var(--clr-bg-dark);
}

.user__reputation {
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: var(--clr-font-gray);
  cursor: pointer;
}

.positive {
  color: #8bc34a;
}

.user__rides {
  text-align: center;
  color: var(--clr-font-gray);
}

.post__content {
  flex-grow: 2;
}

.post__date,
.post__update-date {
  line-height: 1.6;
  color: var(--clr-font-gray);
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.post__text,
.post__quote {
  line-height: 1.5;
  margin-bottom: 0.25rem;
  white-space: pre-wrap;
}

.post__quote {
  margin-bottom: 1rem;
  color: var(--clr-font-gray);
  font-style: italic;
}

.post__controls {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}

.controls-btn {
  border: none;
  /* width: 5rem; */
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  margin-right: 1rem;
  cursor: pointer;
  transition: 0.1s linear;
  font-size: 1rem;
  color: var(--clr-secondary);
  background-color: #e9e9ed;
}

.controls-btn:hover {
  background-color: #d0d0da;
}

.delete-btn {
  background-color: #d08686;
}

.delete-btn:hover {
  background-color: #d16363;
}

.update-btn {
  border: 2px solid #e9e9ed;
}
.update-btn:hover {
  background-color: #d0d0da;
  border: 2px solid #d0d0da;
}

.vote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  border: 1px solid #d0d0da;
}

.vote__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.1rem;
  height: 1.1rem;
  font-size: 0.8rem;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s linear;
}

.votes__up {
  border: none;
  background-color: #d16363;
  color: var(--clr-primary);
}

.votes__down {
  border: none;
  background-color: #2596be;
  color: var(--clr-primary);
}

.votes__neutral {
  border: none;
  background-color: #e9e9ed;
  color: var(--clr-secondary);
}

.up {
  color: #d16363;
}

.up:hover {
  color: var(--clr-primary);
  background-color: #d16363;
}

.down {
  color: #2596be;
}

.down:hover {
  color: var(--clr-primary);
  background-color: #2596be;
}

.inline-edit__area {
  background-color: var(--clr-bg);
  border-radius: 6px;
  border: none;
  outline: none;
  width: 100%;
  min-height: 110px;
  height: auto;
  max-height: 300px;
  resize: vertical;
  padding: 1rem;
  margin-bottom: 1rem;
}
