.post {
  position: relative;
  display: flex;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  padding-bottom: 2rem;
  border-radius: 6px;
  background-color: var(--clr-primary);
  box-shadow: 5px 5px 5px 2px #d1d1d1;
  margin-bottom: 1.5rem;
}

.post__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3rem;
  flex: 0 0 9rem;
  max-width: 9rem;
}

.user__username {
  color: var(--clr-secondary);
  font-weight: bold;
  word-break: break-all;
  transition: 0.2s linear;
}

.user__username:hover {
  color: var(--clr-accent);
}

.user__role {
  color: var(--clr-bg-dark);
}

.admin-role {
  color: #df2029;
  font-weight: 500;
}

.user__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.user__level {
  color: var(--clr-bg-dark);
}

.user__reputation {
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: var(--clr-font-gray);
  cursor: pointer;
}

.positive {
  color: #8bc34a;
}

.user__cars {
  text-align: center;
  color: var(--clr-font-gray);
  word-break: break-all;
}

.post__content {
  flex-grow: 2;
}

.post__date,
.post__update-date {
  line-height: 1.6;
  color: var(--clr-font-gray);
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.post__sign {
  margin-top: 2rem;
  font-weight: 500;
  color: var(--clr-font-gray);
}

.popular-flag {
  position: absolute;
  top: -5px;
  right: 1.5rem;

  display: flex;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  color: var(--clr-accent);
  background-color: var(--clr-bg-dark);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.popular-flag::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 100%;
  border-style: solid;
  border-width: 1rem 1.5rem 0 1.5rem;
  border-color: var(--clr-bg-dark) transparent transparent transparent;
}

.popular-flag i {
  margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
  .post__user {
    gap: 0.5rem;
    flex: 0 0 5rem;
  }

  .user__avatar {
    width: 60px;
    height: 60px;
  }
}