#forum {
  background-color: #f1f1f1;
}

.hero {
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1)),
    url('/public/img/hero-nsx.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.forum-title {
  color: #fff;
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px #1e1e1e;
}

.accent {
  color: #48dbfb;
}

.search {
  width: 50%;
  position: relative;
}

.search-bar {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  padding-left: 20px;
  padding-right: 70px;
  margin-bottom: 3rem;
  color: #48dbfb;
  background-color: #353b48;
  opacity: 80%;
  font-size: 20px;
  outline: none;
}

.search-bar:focus {
  border: 2px solid #48dbfb;
}

.search-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 60px;
  border-radius: 20px;
  border: 2px solid #48dbfb;
  background-color: #48dbfb;
  color: #353b48;
  cursor: pointer;
  transition: 0.2s linear;
}

.search-btn i {
  font-size: 1.2rem;
}

.search-btn:hover {
  color: #fff;
}

.categories-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories-title {
  font-size: 2.5rem;
  color: #353b48;
}

.new-post-btn {
  background-color: #000;
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  min-width: 200px;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 1rem 2rem;
  transition: 0.2s linear;
  cursor: pointer;
}

.new-post-btn i {
  padding-right: 1rem;
}

.new-post-btn:hover {
  color: #48dbfb;
}

.categories {
  margin: 3rem 0;
  width: 100%;
}

.categories__item {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  border-left: 3px solid #48dbfb;
  box-shadow: 5px 5px 15px 5px #d1d1d1;
  padding: 1rem;
  margin: 2rem 0;
}

.item__icon {
  height: 6rem;
  flex-basis: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #48dbfb;
  border-radius: 6px;
  background-color: #353b48;
}

.item__info {
  padding: 1rem;
  height: 100%;
  flex-grow: 2;
  border-right: 2px solid #d5d5d5;
}

.item__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.item__desc {
  color: #696969;
}

.item__topics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 6rem;
  height: 6rem;
  border-radius: 6px;
  background-color: #353b48;
  margin-left: 1rem;
}

.topics__count {
  color: #48dbfb;
  line-height: 1;
  font-size: 3rem;
}

.topics__desc {
  color: #fff;
  font: 1.2rem;
  letter-spacing: 1px;
  font-weight: 500;
}
