.quotes{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}

.quote{
  width: calc(33% - 20px);
  text-align: center;
  border: 1px solid var(--clr-accent);
  border-radius: 6px;
  margin: 20px 0;
  padding: 2.5rem 1.25rem;
  color: var(--clr-primary);
  cursor: pointer;
  transition: .2s linear;
}

.quote i{
  color: var(--clr-accent);
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  transition: .3s linear;
}

.quote h4{
  text-align: right;
  margin-top: 0.7rem;
  font-style: italic;
  font-size: 0.9rem;
}

.quote:hover,
.quote:hover i{
  color: var(--clr-bg-dark);
  background: var(--clr-accent);
  transform: scale(1.05);
}