#home {
  height: 100vh;
  min-height: 500px;
  background: url(/public/img/s2000v1.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

#home .inner-width {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home .content {
  width: 100%;
  color: var(--clr-accent);
}

#home .content h1 {
  font-size: 4rem;
  margin-bottom: 3.75rem;
  text-shadow: 2px 2px 4px var(--clr-secondary);
}

.greeting-name {
  color: var(--clr-primary);
}

.sm a {
  color: var(--clr-primary);
  font-size: 1.6rem;
  margin: 0 10px;
  transition: .2s linear;
}

.sm a:hover {
  color: var(--clr-accent);
}

#home .buttons {
  margin-top: 3.75rem;
}

#home .buttons a {
  display: inline-block;
  color: #48dbfb;
  margin: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  width: 11.5rem;
  border: 2px solid var(--clr-accent);
  border-radius: 6px;
  padding: 0.875rem 0;
  transition: 0.2s linear;
}

#home .buttons a:hover,
#home .buttons a:nth-child(2) {
  background: var(--clr-accent);
  color: var(--clr-primary);
}