.details-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.details-pic {
  width: 400px;
  border-radius: 6px;
  margin-right: 50px;
}

.details-text {
  flex: 1;
}

.details-text h3 {
  margin: 10px 0;
  color: var(--clr-font-gray);
  font-size: 1.7rem;
}

.details-text p {
  font-size: 1.3rem;
  text-align: justify;
  line-height: 1.5rem;
  margin-top: 20px;
  border: 1px solid var(--clr-table);
  background-color: var(--clr-catalog-item);
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  width: 50%;
  border: 1px solid var(--clr-table);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--clr-table);
}

#general-specs,
#performance-specs,
#engine-specs,
#weight-specs,
#dimensions-specs,
#dbs-specs {
  scroll-margin-top: 130px;
}


@media screen and (max-width: 970px) {
  .details-content {
    flex-direction: column;
  }

  .side-content {
    width: 100%;
  }

  .details-pic {
    width: 65%;
    display: block;
    margin: 0 auto;
  }

  .details-text {
    width: 100%;
  }

  .details-text h2, .details-text h3 {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .details-pic {
    width: 100%;
    margin: 2rem auto;
  }
}