.post-card {
  width: 100%;

  min-height: 6rem;
  display: flex;
  align-items: center;
  background-color: var(--clr-primary);
  border-radius: 6px;
  border-left: 3px solid var(--clr-accent);
  box-shadow: 5px 5px 5px 2px #d1d1d1;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  transition: 0.2s linear;
}

.post-card:hover {
  border-left: 0.75rem solid var(--clr-accent);
}

.post-card__icon {
  height: 3rem;
  flex-basis: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: var(--clr-accent);
  border-radius: 6px;
  background-color: var(--clr-bg-dark);
  transition: 0.2s linear;
}

.post-card__icon i {
  font-size: 1.5rem;
}

.post-card__info {
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 2;
  padding: 0 1rem;
  margin-left: 1rem;
  border-left: 2px solid #d5d5d5;
  border-right: 2px solid #d5d5d5;
}

.post-card__title {
  font-size: 1.3rem;
  word-break: break-all;
}

.post-card__title,
.post-card__category {
  color: var(--clr-secondary);
}

.post-card__author,
.post-card__created {
  color: var(--clr-font-gray);
}

.post-card__side-info {
  width: 16.5rem;
  min-width: 16.5rem;
  padding-left: 1rem;
}

.post-card__category {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 700px) {
  .post-card__side-info {
    display: none;
  }

  .post-card__info {
    padding-right: unset;
    border-right: none;
  }
}