.view-message{
  margin: 0.5rem 0;
  text-align: center;
  font-size: 1.3rem;
}

.details-img {
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .details-img {
    width: 80%;
    display: block;
  }
}