#model-details {
  background: url(/public/img/risingsun.png) no-repeat center center/cover ;
}

.view-message{
  width: 100%;
  background-color: var(--clr-catalog-item);
  font-size: 1.2rem;
  border: 2px solid var(--clr-bg-dark);
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 5px;
}