/* Form in general */

.contact-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.contact-info .item{
  width: calc(33% - 20px);
  height: 160px;
  background-color: #353b48;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s linear;
}

.contact-info i{
  display: block;
  font-size: 40px;
  line-height: 120px;
  height: 100px;
}

.contact-info .item:hover{
  background-color: #48dbfb;
}

.contact-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-form input, .contact-form textarea{
  width: 100%;
  height: 50px;
  margin: 10px 0 10px 0;
  background-color: #353b48;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 4px;
  color: #48dbfb;
}

::-webkit-input-placeholder{
  color: #48dbfb;
}
:focus::-webkit-input-placeholder{
  color: #48dbfb;
  opacity: 0.7;
}

::-moz-placeholder{
  color: #48dbfb;
}

.field{
  max-width: 100%;
  opacity: 80%;
}

.halfField{
  max-width: calc(50% - 10px);
  opacity: 80%;
}

.messageField{
  min-height: 200px;
  resize: vertical;
  max-height: 1000px;
}

.contact-form .btn{
  width: 180px;
  background-color: transparent;
  color: #48dbfb;
  font-size: 16px;
  border: 2px solid #48dbfb;
  padding: 0;
  /* margin-left: auto; */
  margin: auto;
  cursor: pointer;
  transition: .3s linear;
}

.contact-form .btn:hover{
  background-color: #48dbfb;
  color: #fff;
}

.already{
  text-align: center;
  margin: 10px auto;
  color: #fff;
  font-size: 18px;
}

.already a{
  font-size: 18px;
  color: #48dbfb;
  font-weight: 500;
}

/* Register */
.sign{
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.sign-title{
  color: #fff;
  font-size: 40px;
  margin-top: 140px;
}

#register{
  height: 100vh;
  min-height: 500px;
  background: url(/public/img/s2000v3.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

.auth-error {
  background-color: #7f2d2d;
  opacity: 80%;
  color: #fff;
  border-radius: 4px;
}

.auth-error li {
  padding: 2px 20px;
}