#register {
  height: 100vh;
  min-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1)), 
  url(/public/img/s2000v3.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

.sign {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.sign-title {
  color: var(--clr-primary);
  font-size: 40px;
  margin-top: 140px;
  text-shadow: 2px 2px 4px var(--clr-secondary);
}


.error-list {
  background-color: var(--clr-error);
  opacity: 80%;
  color: var(--clr-primary);
  border-radius: 4px;
}

.error-list li {
  padding: 2px 20px;
}

.already {
  text-align: center;
  margin: 10px auto;
  color: var(--clr-primary);
  font-size: 18px;
}

.already a {
  font-size: 18px;
  color: var(--clr-accent);
  font-weight: 500;
}

/* Common form styles */
/* to be moved when Contact-Info page is created */
.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.contact-info .item {
  width: calc(33% - 20px);
  height: 160px;
  background-color: var(--clr-bg-dark);
  color: var(--clr-primary);
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s linear;
}

.contact-info i {
  display: block;
  font-size: 40px;
  line-height: 120px;
  height: 100px;
}

.contact-info .item:hover {
  background-color: var(--clr-accent);
}

.contact-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 3.2rem;
  margin: 10px 0;
  background-color: var(--clr-bg-dark);
  font-size: 1.25rem;
  border: none;
  outline: none;
  padding: 1.25rem;
  border-radius: 4px;
  color: var(--clr-accent);
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px solid var(--clr-accent);
}

::-webkit-input-placeholder {
  color: var(--clr-accent);
}
:focus::-webkit-input-placeholder {
  color: var(--clr-accent);
  opacity: 0.7;
}

::-moz-placeholder {
  color: var(--clr-accent);
  opacity: 1;
}

:focus::-moz-placeholder {
  color: var(--clr-accent);
  opacity: 0.7;
}

.field {
  max-width: 100%;
  opacity: 80%;
}

.halfField {
  max-width: calc(50% - 10px);
  opacity: 80%;
}

.messageField {
  min-height: 200px;
  resize: vertical;
  max-height: 1000px;
}

.contact-form .btn {
  width: 11.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--clr-accent);
  background-color: transparent;
  border: 2px solid var(--clr-accent);
  padding: 0;
  margin: auto;
  cursor: pointer;
  transition: 0.3s linear;
}

.contact-form .btn:hover {
  background-color: var(--clr-accent);
  color: var(--clr-primary);
}