#register {
  height: 100vh;
  min-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1)),
    url(/public/img/s2000v3.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

.auth {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.auth__title {
  color: var(--clr-primary);
  font-size: 2.5rem;
  margin-top: 140px;
  text-shadow: 2px 2px 4px var(--clr-secondary);
}

.already {
  text-align: center;
  margin: 10px auto;
  color: var(--clr-primary);
  font-size: 18px;
}

.already a {
  font-size: 18px;
  color: var(--clr-accent);
  font-weight: 500;
}

.auth__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.auth__form input,
.auth__form textarea {
  width: 100%;
  height: 3.2rem;
  margin: 10px 0;
  background-color: var(--clr-bg-dark);
  font-size: 1.25rem;
  border: none;
  outline: none;
  padding: 1.25rem;
  border-radius: 4px;
  color: var(--clr-accent);
}

.auth__form input:focus,
.auth__form textarea:focus {
  border: 2px solid var(--clr-accent);
}

.field {
  max-width: 100%;
  opacity: 80%;
}

.halfField {
  max-width: calc(50% - 10px);
  opacity: 80%;
}

.messageField {
  min-height: 200px;
  resize: vertical;
  max-height: 1000px;
}

.auth__form .btn {
  width: 11.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--clr-accent);
  background-color: transparent;
  border: 2px solid var(--clr-accent);
  padding: 0;
  margin: auto;
  cursor: pointer;
  transition: 0.3s linear;
}

.auth__form .btn:hover {
  background-color: var(--clr-accent);
  color: var(--clr-primary);
}

@media screen and (max-width: 768px) {
  #register {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1)),
      url(/public/img/s2000v1-phone.jpg) no-repeat center center/cover;
    background-attachment: fixed;
  }
}

@media screen and (max-width: 600px) {

  .auth {
    max-width: 330px;
  }

  .nameField,
  .emailField,
  .halfField {
    max-width: 100%;
  }
}
