footer{
  background-color: var(--clr-bg-dark);
  color: var(--clr-primary);
  padding: 2.5rem 0;
  text-align: center;
}

.copyright{
  margin-bottom: 1.25rem;
  font-size:  1.2rem;
}

.copyright a{
  font-size: 1.2rem;
  color: var(--clr-accent);
  font-weight: 500;
}