.forum-page-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forum-page-title {
  font-size: 2.5rem;
  color: var(--clr-bg-dark);
}

@media screen and (max-width: 500px) {
  .forum-page-heading {
    flex-direction: column-reverse;
    gap: 2rem;
    text-align: center;
  } 
}