#login {
  height: 100vh;
  min-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1)),
    url(/public/img/s2000v2.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  #login {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1)),
      url(/public/img/s2000v1-phone.jpg) no-repeat center center/cover;
    background-attachment: fixed;
  }
}
