#timeline {
  background: url(/public/img/risingsun.png) no-repeat center center/cover ;
}

.time-line{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block{
  width: calc(50% - 20px);
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #ddd;
  box-shadow: 5px 5px 15px 3px #d1d1d1;
  margin: 10px 0;
  padding: 1.7rem 2rem;
  position: relative;
}

.block::before{
  content: "";
  position: absolute;
  width: 1px;
  height: 120%;
  background: #ddd;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.block::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: var(--clr-accent);
  left: -28px;
  top: 30px;
  border-radius: 50%;
}

.block h4{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.block p{
  font-weight: 500;
  color: var(--clr-font-gray);
  line-height: 1.4;
}
