@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

:root {
  --clr-primary: #fff;
  --clr-secondary: #111;
  --clr-accent: #48dbfb;
  --clr-bg: #f1f1f1;
  --clr-bg-dark: #353b48;
  --clr-catalog-item: #fff7f0;
  --clr-table: #ddd;
  --clr-font-gray: #666;
  --clr-error: #7f2d2d;
  --clr-selection: #4ef2d1;

  --box-shadow: 5px 5px 15px 3px #d1d1d1;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

::selection {
  background-color: var(--clr-selection);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--clr-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-bg-dark);
}

::-webkit-input-placeholder {
  color: var(--clr-accent);
}
:focus::-webkit-input-placeholder {
  color: var(--clr-accent);
  opacity: 0.7;
}

::-moz-placeholder {
  color: var(--clr-accent);
  opacity: 1;
}

:focus::-moz-placeholder {
  color: var(--clr-accent);
  opacity: 0.7;
}

.inner-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 2.5rem;
}

section {
  padding: 6.25rem 0;
  background: var(--clr-bg);
}

.section-title {
  text-align: center;
  margin-bottom: 5rem;
  position: relative;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding-bottom: 1.25rem;
  color: var(--clr-secondary);
}

.section-title::before {
  content: '';
  position: absolute;
  width: 140px;
  height: 3px;
  background: var(--clr-secondary);
  bottom: 0;
  left: calc(50% - 70px);
}

.section-title::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 10px;
  background: var(--clr-accent);
  border: 4px solid var(--clr-bg);
  bottom: -7px;
  left: 49%;
}

section.dark {
  background-color: var(--clr-bg-dark);
}

section.dark .section-title {
  color: var(--clr-primary);
}

section.dark .section-title::before {
  background-color: var(--clr-bg);
}

section.dark .section-title::after {
  border: 4px solid var(--clr-bg-dark);
}

@media screen and (max-width: 970px) {
  html {
    font-size: 14px;
  }

  .inner-width {
    max-width: 800px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }

  .inner-width {
    padding: 0 20px;
  }
}
