.sub-model{
  display: block;
  width: 100%;
  color: var(--clr-secondary);
  font-size: 1.3rem;
  border: 3px solid var(--clr-bg-dark);
  border-radius: 3px;  
  margin-bottom: 10px;
  padding: 10px;
}

.sub-model h4{
  padding-bottom: 1rem;
}

.sub-model i{  
  color: var(--clr-accent);
}

.sub-model p{
  padding: 5px;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.sub-model p strong {
  margin-left: 5%;
  color: var(--clr-accent);
}

.sub-model:hover{
  cursor: pointer;
  background-color: var(--clr-bg-dark);
  color: var(--clr-primary);
}